<div>
	<div>
		<em>{{ marque.name }}</em>
	</div>

	<div>
		<em>{{ marque.slug }}</em>
	</div>

	<div>
		<em>{{ marque.description }}</em>
	</div>

	<div>
		<em>{{ marque.imageName }}</em>
	</div>

	<div>
		<em>{{ marque.enable }}</em>
	</div


	<div>
		<a href="{{ path('admin.marque.update', {id: marque.id }) }}" class="">Update</a>
	</div>
	<form method="POST" action="{{ path('admin.marque.delete', {id: marque.id}) }}" onsubmit="return confirm('Êtes-vous sùr de vouloir supprimer ( {{ marque.name }} ) ?')">
		<input type="hidden" name="_method" value="DELETE">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marque.id) }}">
		<button class="">Supprimer</button>
	</form>
	<br>


</div>
